In [3]:
import pandas as pd

student_data={'Name':['Sandula','Sanchana','Kumara','Nimal','Kumari'],
              'Age':[23,22,24,23,22],
              'address':['Colombo','Kandy','Galle','Jaffna','Matara']}


student_df=pd.DataFrame(student_data)
print(student_df)

       Name  Age  address
0   Sandula   23  Colombo
1  Sanchana   22    Kandy
2    Kumara   24    Galle
3     Nimal   23   Jaffna
4    Kumari   22   Matara