In [3]:
import pandas as pd

student_data={'Name':['Sandula','Sanchana','Kumara','Nimal','Kumari'],
              'Age':[23,22,24,23,22],
              'address':['Colombo','Kandy','Galle','Jaffna','Matara']}


student_df=pd.DataFrame(student_data)
print(student_df)

       Name  Age  address
0   Sandula   23  Colombo
1  Sanchana   22    Kandy
2    Kumara   24    Galle
3     Nimal   23   Jaffna
4    Kumari   22   Matara

In [8]:
df=pd.read_csv('adv.csv')
print(df.head(5))

print(df.describe())

print(df.info())

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9
               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000
<class 'pandas.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB
None