In [3]:
import pandas as pd

student_data={'Name':['Sandula','Sanchana','Kumara','Nimal','Kumari'],
              'Age':[23,22,24,23,22],
              'address':['Colombo','Kandy','Galle','Jaffna','Matara']}


student_df=pd.DataFrame(student_data)
print(student_df)

       Name  Age  address
0   Sandula   23  Colombo
1  Sanchana   22    Kandy
2    Kumara   24    Galle
3     Nimal   23   Jaffna
4    Kumari   22   Matara

In [13]:
df=pd.read_csv('adv.csv')
#print(df.head(5))

#print(df.describe())

print(df.info())

<class 'pandas.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      197 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB
None

In [15]:
df=pd.read_csv('adv.csv')
print(df.isna().sum())

TV           0
Radio        3
Newspaper    0
Sales        0
dtype: int64

In [ ]:

new_df = df.dropna()

print(new_df.isna().sum())